<!DOCTYPE html>
    <html>
        <body>
            <head></head>

            <h1>Movies</h1>
                <ul>
                    <% @movies.each do |movie| %>
                        <div>
                            <div class="image"><a href=<%= "/movies/#{movie.id}"  %> > <img src=" <%= movie.posterURL %> " height="285" /> </a></div>
                            <div><%= link_to "#{movie.title}", movie %></div>
                        </div><br>
                    <% end %>
                </ul>
        </body>
    </html>