<!DOCTYPE html>
    <html>
        <body>
            <head></head>

            <h1>Movies</h1>
                <ul>
                    <% @movies.each do |movie| %>
                        <li>
                        <div class="image"><a href=<%= "/movies/#{movie.id}"  %> > <img src=" <%= movie.posterURL %> " height="300" /> </a></div>
                        <%= link_to "#{movie.title}", movie %> </li>
                        <br>
                    <% end %>
                </ul>
        </body>
    </html>